01-account-intelligence-engine/account-intelligence-engine-v1.2.json
{
  "name": "[AVIAN] Account Intelligence Engine v1.2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -80
      ],
      "id": "3741f705-39b5-42ae-81ea-aefc7d485694",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "1ecf91ec-e77d-48a0-9c6b-1d5960d675fc",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an ICP (Ideal Customer Profile) scoring agent for AVIAN, a company that sells AI-powered thermal camera systems that detect fire risk and abnormal heat in industrial facilities.\n\nAVIAN's ideal customer profile:\n- Industry: Manufacturing, Chemical Processing, Food & Beverage, Automotive, Energy\n- Company size: 200–5,000 employees\n- Buyer roles: Plant Manager, EHS Director, Maintenance Manager, Safety Officer, Operations VP\n- Pain: Fire risk, thermal runaway, equipment failure, unplanned downtime, OSHA compliance, insurance audits\n- Geography: North America or Europe\n\nHere is the research output for this company:\n{{ $json.output }}\n\nScore this company across these 4 categories (0–25 points each):\n1. Company Fit (industry match, size match, geography)\n2. Role Fit (do they likely have the right buyer personas on staff?)\n3. Pain Fit (how strong is their fire/thermal/safety pain based on the research?)\n4. Timing Fit (are there signals suggesting urgency — recent incidents, audits, expansion, new facilities?)\n\nReturn your response in EXACTLY this format and nothing else:\nCompany Fit: [score]/25 - [one sentence reason]\nRole Fit: [score]/25 - [one sentence reason]\nPain Fit: [score]/25 - [one sentence reason]\nTiming Fit: [score]/25 - [one sentence reason]\nTotal Score: [sum]/100\nICP Tier: [Hot if 70+, Warm if 40-69, Cold if below 40]\nSummary: [2 sentences on why this company is or isn't a strong AVIAN prospect]",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1152,
        128
      ],
      "id": "8d81b5ee-7be9-4983-808c-663993cb1106",
      "name": "ICP Scoring Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a B2B research analyst for AVIAN, a thermal camera fire prevention company.\n\nCompany: {{ $('Loop Over Items').item.json[\"Company Name\"] }}\nIndustry: {{ $('Loop Over Items').item.json[\"Industry\"] }}\n\nHere are search results about this company:\n{{ JSON.stringify($input.first().json).slice(0, 1500) || \"Limited data available - provide best estimate based on company name and industry\" }}\n\nRespond in this exact format only - nothing else:\nDESCRIPTION: [one sentence about what the company does]\nEMPLOYEES: [approximate headcount - give a number like \"2,500\" or \"500-1,000\"]\nCOMPANY SIZE: [Small (1-200) / Medium (201-1,000) / Large (1,001-5,000) / Enterprise (5,000+)]\nPAIN SIGNALS: [one sentence about any fire, safety, thermal, or downtime issues]\nPAIN RATING: [High, Medium, or Low]",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        848,
        128
      ],
      "id": "37e50c9b-cb4f-4e94-92af-d41e673bb043",
      "name": "Research Analyst"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert B2B outbound copywriter for AVIAN, a company that sells AI-powered thermal camera systems that detect abnormal heat and prevent industrial fires before they start.\n\nAVIAN's value proposition:\n- 24/7 continuous thermal monitoring of industrial facilities\n- AI detects abnormal heat patterns before they become fires\n- Protects assets, reduces insurance premiums, ensures OSHA compliance\n- Prevents costly unplanned downtime from equipment failure\n- Already proven in manufacturing, chemical, food processing, and automotive facilities\n\nHere is the ICP scoring and research for this company:\n{{ $json.output }}\n\nGenerate exactly 3 outreach assets for a Plant Manager or EHS Director at this company:\n\nASSET 1 — COLD EMAIL OPENER (2 sentences max):\nWrite a highly specific opening line for a cold email that references something real about this company's industry, facility type, or pain signals. Do NOT use generic phrases like \"I hope this finds you well\" or \"I wanted to reach out.\" Reference their specific situation.\n\nASSET 2 — LINKEDIN CONNECTION REQUEST (under 300 characters):\nWrite a short, human LinkedIn connection request message. Reference their role and one specific pain point. No fluff.\n\nASSET 3 — PHONE CALL TALKING POINTS (3 bullet points):\nWrite 3 specific talking points for a 2-minute cold call opening. Each bullet should be one sentence and reference AVIAN's value in the context of this company's industry and pain signals.\n\nFormat your response EXACTLY like this:\nEMAIL OPENER: [your email opener here]\nLINKEDIN MESSAGE: [your LinkedIn message here]\nCALL POINT 1: [first talking point]\nCALL POINT 2: [second talking point]\nCALL POINT 3: [third talking point]\n\n{{ $json.failure_reason ? \"REVISION REQUIRED: \" + $json.failure_reason : \"\" }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1792,
        128
      ],
      "id": "a1300c15-d652-4bf4-a4b6-c01886a65abe",
      "name": "Personalization Agent"
    },
    {
      "parameters": {
        "url": "=https://serpapi.com/search.json?q={{ encodeURIComponent($json[\"Company Name\"]) }}+fire+safety+OSHA&num=3&api_key=2b2747f21a6099de7ad0f81bd84345bf8a4914ffd2b35c9187f9b7c863fe725b",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        432,
        256
      ],
      "id": "fb75e65e-1c0c-41f8-9d08-2f392b78e89a",
      "name": "Web Research",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        624,
        -112
      ],
      "id": "abf1f12f-e4a9-4838-8760-11d33d0a5aec",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "content": "Client: AVIAN | Version: 1.2 | Owner: Hans Stewart · SSS\nLast updated: May 2026 | Status: Active\nPipeline: Web Research → ICP Scoring → Personalization → Sheets",
        "height": 112,
        "width": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        16,
        -336
      ],
      "id": "6b786ddb-3f0c-4889-adf4-429b0089ee33",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "ICP scoring criteria tuned for AVIAN vertical — industrial fire prevention.\nThreshold raised to 70+ for Hot tier per Q1 performance data.\n4-dimension scoring: Company Fit / Role Fit / Pain Fit / Timing Fit",
        "height": 128,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1136,
        432
      ],
      "id": "2faf4402-c5ed-4f65-b292-580ecd4bc781",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Output sheet: AVIAN Pipeline Intelligence — Hans Stewart\nColumns: Company, Industry, ICP Score, ICP Tier, Pain Signals,\nEmail Opener, LinkedIn Message, Date Processed",
        "height": 128,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3280,
        0
      ],
      "id": "384e65e7-16a1-4842-b598-7f3329d0c789",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        848,
        272
      ],
      "id": "b576fbbb-32ee-4091-bd1b-aa88ae35b8c8",
      "name": "GPT-4o · Research LLM",
      "credentials": {
        "openAiApi": {
          "id": "MFfOfRdfMyEl7oVu",
          "name": "SSS OpenAI Production Key"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1152,
        272
      ],
      "id": "852faa6f-4b1a-4ed2-9da4-bf4a2cc4aa7a",
      "name": "GPT-4o · ICP Scoring LLM",
      "credentials": {
        "openAiApi": {
          "id": "MFfOfRdfMyEl7oVu",
          "name": "SSS OpenAI Production Key"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1792,
        272
      ],
      "id": "502b39b4-9af8-41af-9022-375b0fa722cc",
      "name": "GPT-4o · Personalization LLM",
      "credentials": {
        "openAiApi": {
          "id": "MFfOfRdfMyEl7oVu",
          "name": "SSS OpenAI Production Key"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/19sJVbL83AP6YM_0Rp9CwyrmpWYMIv-6MDWh1p_UCGeg/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19sJVbL83AP6YM_0Rp9CwyrmpWYMIv-6MDWh1p_UCGeg/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "8d27c7e8-08aa-4b31-9e75-1330e7b5ddd7",
      "name": "Read Target Account List",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Y2e4WTPx7gzBUT2e",
          "name": "SSS Google Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1gXH7noixZnKIq9vEqAQkeWWsIG6LQHPAB6o396h_E9U/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gXH7noixZnKIq9vEqAQkeWWsIG6LQHPAB6o396h_E9U/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company": "={{ $('Loop Over Items').item.json['Company Name'] }}",
            "Website": "={{ $('Loop Over Items').item.json['Website'] }}",
            "Industry": "={{ $('Loop Over Items').item.json['Industry'] }}",
            "Date Processed": "={{ $now.toISO() }}",
            "Email Opener": "={{ $('Parse Personalization Output').item.json.email_opener }}",
            "ICP Score": "={{ $('Parse ICP Output').item.json.icp_score_clean }}",
            "ICP Tier": "={{ $('Parse ICP Output').item.json.icp_tier_clean }}",
            "Pain Signals Detected": "={{ \"'\" + $('Research Analyst').item.json.text }}",
            "LinkedIn Message": "={{ $('Parse Personalization Output').item.json.linkedin_message }}",
            "Company Size": "={{ $('Parse Research Output').item.json.company_size }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Size",
              "displayName": "Company Size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ICP Score",
              "displayName": "ICP Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ICP Tier",
              "displayName": "ICP Tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pain Signals Detected",
              "displayName": "Pain Signals Detected",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email Opener",
              "displayName": "Email Opener",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LinkedIn Message",
              "displayName": "LinkedIn Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date Processed",
              "displayName": "Date Processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3296,
        160
      ],
      "id": "0e4af513-de08-49b4-958e-7c6023e39b7f",
      "name": "Write to AVIAN Pipeline Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Y2e4WTPx7gzBUT2e",
          "name": "SSS Google Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json.output;\n\n// Extract total score\nconst scoreMatch = output.match(/Total Score:\\s*(\\d+)\\/100/);\nconst tierMatch = output.match(/ICP Tier:\\s*(Hot|Warm|Cold)/);\nconst summaryMatch = output.match(/Summary:\\s*(.+?)(?:\\n|$)/);\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    icp_score_clean: scoreMatch ? scoreMatch[1] : \"N/A\",\n    icp_tier_clean: tierMatch ? tierMatch[1].trim() : \"Unknown\",\n    icp_summary: summaryMatch ? summaryMatch[1].trim() : \"\",\n    raw_icp_output: output\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1648,
        128
      ],
      "id": "8a767653-ef18-4ed6-bb56-7617cba86856",
      "name": "Parse ICP Output"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        112
      ],
      "id": "a1065bb2-609c-4dad-b3ad-c15d9e522f33",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a B2B outbound quality critic. Score the following outreach assets for an AVIAN thermal camera campaign.\n\nScore each on 1–10:\n- Specificity: Does it reference real details about this company?\n- Pain Relevance: Does it connect to fire risk, thermal safety, or downtime?\n- Non-Generic: Could this have been written for ANY company, or is it tailored?\n\nAssets to score:\n{{ $json.output }}\n\nReturn ONLY this JSON:\n{\n  \"specificity\": [score],\n  \"pain_relevance\": [score],\n  \"non_generic\": [score],\n  \"average_score\": [average],\n  \"passed\": [true if average >= 7, false if below],\n  \"failure_reason\": \"[if passed is false, explain what needs improvement in one sentence. If passed is true, write null]\"\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2256,
        128
      ],
      "id": "0995eea8-3792-4696-8236-a8de4b79f482",
      "name": "Quality Critic Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2256,
        288
      ],
      "id": "b46ae91f-a294-4b3b-91bc-4d4b4391d227",
      "name": "GPT-4o · Quality Critic LLM",
      "credentials": {
        "openAiApi": {
          "id": "MFfOfRdfMyEl7oVu",
          "name": "SSS OpenAI Production Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b72f8ecf-a6d2-4edd-890b-aade77ea7dc3",
              "leftValue": "={{ $json.output }}",
              "rightValue": "\"passed\": true",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2608,
        128
      ],
      "id": "51cf7362-a508-4f79-8d62-55c79631e54f",
      "name": "Quality Gate"
    },
    {
      "parameters": {
        "url": "=https://r.jina.ai/{{ $json['Website'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        432,
        416
      ],
      "id": "5ad91ff9-72bf-4b85-8871-e3d9dbb716d7",
      "name": "Jina Reader · Website Scrape",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        688,
        128
      ],
      "id": "9b6a27a9-3b7f-4c7f-b423-e2783712e6b7",
      "name": "Merge"
    },
    {
      "parameters": {
        "content": "Dual-source research: SerpAPI for news signals + Jina Reader for website content. Upgraded from single-source in v1.1.",
        "height": 96
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        112,
        448
      ],
      "id": "974ef0d5-90db-410b-8f3c-cfc5eb5889b8",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c6dc76fd-e770-4837-8185-922ce9f18fa9",
              "leftValue": "={{ $('Parse ICP Output').item.json.icp_tier_clean.trim() }}",
              "rightValue": "Hot",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2848,
        128
      ],
      "id": "236e6f24-5f46-4470-8dbb-0381fb09e926",
      "name": "Hot Tier Filter"
    },
    {
      "parameters": {
        "sendTo": "hans.stewart.contact@gmail.com",
        "subject": "=🔥 Hot AVIAN Lead: {{ $json['Company Name'] }} — Score: {{ $json.icp_score_clean }}/100",
        "message": "=New Hot ICP Match Detected  Company: {{ $json['Company Name'] }} Industry: {{ $json['Industry'] }} ICP Score: {{ $json.icp_score_clean }}/100 Tier: {{ $json.icp_tier_clean }}  Email Opener: {{ $('Personalization Agent').item.json.output }}  Processed: {{ $now.toISO() }}  — AVIAN Account Intelligence Engine v1.2",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        3040,
        -16
      ],
      "id": "89772b6f-e1d3-4f0b-9835-7ed11b5a19cb",
      "name": "Hot Lead Alert · Gmail",
      "webhookId": "2bd92729-f5d8-4749-a15c-52cc2b80de99",
      "credentials": {
        "gmailOAuth2": {
          "id": "T5CcMwlrQhZhf1Qr",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "content": "Hot tier alert: any account scoring 70+ triggers immediate sales notification. Threshold set at 70 per Q1 conversion data.",
        "height": 96
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2896,
        -128
      ],
      "id": "230618f4-f382-4272-8adc-7bbd1395bf5f",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "31740859-acfa-400e-9a3e-01253297e1e8",
              "leftValue": "={{ $json.retry_count }}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2608,
        528
      ],
      "id": "dcf147c2-d4fa-4d3a-9d6d-15c25d697d0f",
      "name": "Max Retries Reached?"
    },
    {
      "parameters": {
        "jsCode": "const currentAttempt = $input.first().json.retry_count || 0;\nlet failureReason = \"\";\n\n// Try to extract failure reason from Quality Critic output\ntry {\n  const output = $input.first().json.output;\n  const parsed = JSON.parse(output.match(/\\{[\\s\\S]*\\}/)?.[0] || \"{}\");\n  failureReason = parsed.failure_reason || \"\";\n} catch(e) {\n  failureReason = \"Could not parse quality output\";\n}\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    retry_count: currentAttempt + 1,\n    failure_reason: failureReason\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2608,
        336
      ],
      "id": "aec7a332-f90a-486c-a89c-6a8b328a4db0",
      "name": "Retry Counter"
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json.output || \"\";\n\nconst emailMatch = output.match(/EMAIL OPENER:\\s*([\\s\\S]+?)(?=\\nLINKEDIN MESSAGE:|$)/);\nconst linkedinMatch = output.match(/LINKEDIN MESSAGE:\\s*([\\s\\S]+?)(?=\\nCALL POINT 1:|$)/);\nconst call1Match = output.match(/CALL POINT 1:\\s*([\\s\\S]+?)(?=\\nCALL POINT 2:|$)/);\nconst call2Match = output.match(/CALL POINT 2:\\s*([\\s\\S]+?)(?=\\nCALL POINT 3:|$)/);\nconst call3Match = output.match(/CALL POINT 3:\\s*([\\s\\S]+?)(?=\\n|$)/);\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    email_opener: emailMatch ? emailMatch[1].trim() : \"\",\n    linkedin_message: linkedinMatch ? linkedinMatch[1].trim() : \"\",\n    call_point_1: call1Match ? call1Match[1].trim() : \"\",\n    call_point_2: call2Match ? call2Match[1].trim() : \"\",\n    call_point_3: call3Match ? call3Match[1].trim() : \"\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2064,
        128
      ],
      "id": "e8ce4317-3376-43a6-93e3-4adca75fd560",
      "name": "Parse Personalization Output"
    },
    {
      "parameters": {
        "jsCode": "const researchText = $('Research Analyst').item.json.text || \"\";\n\n// Extract each field\nconst employeesMatch = researchText.match(/EMPLOYEES:\\s*(.+?)(?=\\n|$)/);\nconst companySizeMatch = researchText.match(/COMPANY SIZE:\\s*(.+?)(?=\\n|$)/);\nconst painSignalsMatch = researchText.match(/PAIN SIGNALS:\\s*(.+?)(?=\\n|$)/);\nconst painRatingMatch = researchText.match(/PAIN RATING:\\s*(.+?)(?=\\n|$)/);\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    employees: employeesMatch ? employeesMatch[1].trim() : \"Unknown\",\n    company_size: companySizeMatch ? companySizeMatch[1].trim() : \"Unknown\",\n    pain_signals_clean: painSignalsMatch ? painSignalsMatch[1].trim() : \"No signals detected\",\n    pain_rating: painRatingMatch ? painRatingMatch[1].trim() : \"Unknown\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1488,
        128
      ],
      "id": "4a750228-e86b-4aac-b89a-21ea978dc997",
      "name": "Parse Research Output"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read Target Account List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Jina Reader · Website Scrape",
            "type": "main",
            "index": 0
          },
          {
            "node": "Web Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ICP Scoring Agent": {
      "main": [
        [
          {
            "node": "Parse Research Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Analyst": {
      "main": [
        [
          {
            "node": "ICP Scoring Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Personalization Agent": {
      "main": [
        [
          {
            "node": "Parse Personalization Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Web Research": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o · Research LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Research Analyst",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o · ICP Scoring LLM": {
      "ai_languageModel": [
        [
          {
            "node": "ICP Scoring Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o · Personalization LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Personalization Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Read Target Account List": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse ICP Output": {
      "main": [
        [
          {
            "node": "Personalization Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Target Account List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o · Quality Critic LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Quality Critic Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Quality Critic Agent": {
      "main": [
        [
          {
            "node": "Quality Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quality Gate": {
      "main": [
        [
          {
            "node": "Hot Tier Filter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retry Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jina Reader · Website Scrape": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Research Analyst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hot Tier Filter": {
      "main": [
        [
          {
            "node": "Hot Lead Alert · Gmail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Write to AVIAN Pipeline Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hot Lead Alert · Gmail": {
      "main": [
        [
          {
            "node": "Write to AVIAN Pipeline Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Max Retries Reached?": {
      "main": [
        [
          {
            "node": "Personalization Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Hot Tier Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Counter": {
      "main": [
        [
          {
            "node": "Max Retries Reached?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Personalization Output": {
      "main": [
        [
          {
            "node": "Quality Critic Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Research Output": {
      "main": [
        [
          {
            "node": "Parse ICP Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write to AVIAN Pipeline Sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "eec08418-9495-43c2-9a1c-ee6e782c52ed",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6e9e5a2998f849134584432b241a4eaeeab7205a55684dc0fdfae62f985ba0e2"
  },
  "id": "EzdrySiEJhZSQAtH",
  "tags": [
    {
      "updatedAt": "2026-05-30T15:12:44.451Z",
      "createdAt": "2026-05-30T15:12:44.451Z",
      "id": "IAtmGnEuIpMLBnUr",
      "name": "Marketing Automation"
    },
    {
      "updatedAt": "2026-05-30T19:50:38.683Z",
      "createdAt": "2026-05-30T19:50:38.683Z",
      "id": "VXoGXaiOEEa8eK5B",
      "name": "Client: AVIAN"
    },
    {
      "updatedAt": "2026-05-30T15:12:40.030Z",
      "createdAt": "2026-05-30T15:12:40.030Z",
      "id": "ib5sRSRs9rroAukP",
      "name": "Production"
    }
  ]
}